nav {
  height: 60px;
  border-bottom: 1px solid #2c2c2c;
}

nav.wdth {
  width: 10px;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav img {
  height: 2rem;
}

nav:hover {
  color: #ffffff;
}

nav .px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

nav .py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

nav .rounded-md {
  border-radius: 0.375rem;
}

nav .text-sm {
  font-size: 0.875rem;
}

nav .font-medium {
  font-weight: 500;
}

nav .hidden {
  display: none;
}

nav .block {
  display: block;
}

nav .md\:hidden {
  display: none;
}

nav .md\:flex {
  display: flex;
}

input[type="text"] {
  width: 250px;
  height: 35px;
}

.nz-input-group {
  width: 300px;
}

.srccr {
  overflow: hidden;
  z-index: 9;
  margin: 0;
  padding: 0;
  top: 59px !important;
  width: 250px !important;
  text-align: left;
  position: fixed !important;
}

@media (min-width: 768px) {
  .md\:hidden {
    display: none;
  }
  .md\:flex {
    display: flex;
  }
}
