<div class="pl-14 py-6 bg-[#171717]">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    <!-- Loop through the 'movies' array and create a movie card for each item -->
    <!-- Pass the movie object to the 'app-movie-card' component -->
    <app-movie-card *ngFor="let movie of movies" [movie]="movie"></app-movie-card>
  </div>
</div>

<footer>
  <div class="container mx-auto px-4">
      <div class="flex flex-col items-center">
          <span class="text-center">YTS © 2011 - 2023 - Blog - DMCA - API - RSS - Contact - Browse Movies - Requests - Login - Language</span>
          <span class="py-2 text-center">By using this site you agree to and accept our User Agreement, which can be read here.</span>
      </div>
  </div>
</footer>


