footer{
    background: #171717;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #2f2f2f;
    color: white;
}
.movie-card {
    border-radius: 6px;
    transition: border-color 0.3s ease-in-out; 
  }
